@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="d-grid gap-2 mx-auto col-4">
        <a class="btn btn-outline-primary" asp-controller="Account" asp-action="SignUp">Sign Up</a>
        <a class="btn btn-outline-primary" asp-controller="Account" asp-action="SignIn">Sign In</a>
    </div>
</div>
